.community_page {
  display: flex;
  width: 100%;
  height: 100%;
}

.community_page .community_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.community_page .community_container {
  margin: 10px 0;
}
.community_container .community_stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.community_all_frame .article_tabs {
  width: 100%;
  height: 94px;
}

.css-heg063-MuiTabs-flexContainer {
  gap: 50px;
  font-size: 16px;
}

.css-heg063-MuiTabs-flexContainer button {
  font-size: 16px;
}

.community_container .article_tabs .community_table {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.article_main {
  width: 100%;
  height: 100%;
}

.community_page .article_box {
  margin-top: 20px;
  width: 100%;
  height: 295px;
  display: flex;
  flex-direction: row;
}

.community_page .article_box .article_img_bg {
  position: relative;
  width: 50%;
  height: 295px;
  display: flex;
  border-radius: 0px 90px 0px 0px;
  background-size: cover;
}

.community_page .article_box .article_desc {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.community_page .article_box .article_desc .article_title {
  padding: 0px 15px;
  width: 100%;
  height: 90%;
}

.articles_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.community_page .article_main .all_article_box {
  margin-top: 15px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  cursor: auto;
}

.community_page .article_main .all_article_box .css-9ae35a-JoyAvatar-img,
.art_user_img .css-9ae35a-JoyAvatar-img {
  object-fit: fill !important;
}

.community_page .all_article_box .css-hyw0yv-JoyCard-root {
  padding: 1px;
}

.css-6e7lq1-JoyAspectRatio-content [data-first-child] > img {
  object-fit: fill;
}

.community_page .all_article_box {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  max-width: 390px;
  border: 1px solid rgba(0, 0, 255, 0.385);
}

.community_page .all_article_box .all_article_container .user_prof {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.community_page .all_article_box .all_article_container .user_prof img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
}

.community_page .all_article_box .all_article_container .user_prof span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.all_article_container .evaluation {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 10px;
}

.all_article_box .css-1xylxj1-MuiTypography-root-MuiLink-root {
  color: gray !important;
}

.all_article_container .evaluation span {
  color: #e3c08d;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.all_article_container .evaluation p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.all_article_container {
  width: 100%;
  padding-right: 14px;
}

.all_article_box .view {
  display: flex;
}

.view .evaluation_text,
.view .eye {
  position: absolute;
  right: 59px;
  bottom: 68px;
  color: gray;
}

.view .eye {
  display: flex;
  right: 15px;
  bottom: 78px;
  gap: 5px;
}
.view .evaluation_text svg {
  transform: scale(0.9);
}

.community_all_frame .article_bott {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

.community_page .all_article_box .all_article_img img {
  width: 177px;
  height: 155px;
  border-radius: 30px 0px 0px 30px;
}

.chat_frame .chat_main_left {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.msg_input {
  padding: 20px;
  width: 276px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  border-radius: 28px;
  border: none;
  outline-color: #257677;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.chat_frame .chat_main_right {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 15px;
}

.chat_frame .chat_top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
  background-color: rgba(173, 172, 172, 0.679);
  align-items: center;
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.chat_content {
  position: relative;
  padding: 17px 0px 17px 17px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  margin-top: 10px;
}

.chat_bott {
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_content .chat_main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chat_content .chiziq {
  position: absolute;
  width: 1px;
  height: 970px;
  top: 0;
  right: 11px;
}

.chat_bott .send_msg_btn {
  margin-left: 14px;
  color: #fff;
  font-size: 12px;
  width: 50px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #55a99d 0%, #007665 100%);
  padding-bottom: 2px;
}

.send_msg_btn svg {
  font-size: 21px;
  transform: translateX(3px);
}

.msg_right {
  padding: 5px 10px;
  width: auto;
  height: auto;
  display: flex;
  background: #c6f2eb;
  border-radius: 20px 20px 0px 20px;
}

.chat_main .msg_left {
  margin-left: 10px;
  padding: 5px 10px;
  width: auto;
  height: auto;
  display: flex;
  background: rgba(232, 229, 229, 0.83);
  border-radius: 20px 20px 20px 0px;
}

/* width */
.chat_frame ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.chat_frame ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.chat_frame ::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}

.css-ltjzd6-MuiButtonBase-root-MuiTab-root.Mui-selected {
  /* border-bottom: 1px solid #0288d1; */
  font-size: 18px;
}

.css-79ws1d-MuiModal-root {
  height: 0px;
  width: 0px;
}
